{% extends 'base.html'%}

{% block contents %}

<main role="main" class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <form action="{% url 'create' %}">
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">TODO</label>
                            <div class="col-sm-10">
                            <input type="text" name="title" class="form-control" placeholder="TODO" autofocus required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">CONTENT</label>
                            <div class="col-sm-10">
                            <textarea name="content" class="form-control" placeholder="상세 내용을 입력해주세요."></textarea>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">DUE&nbsp;DATE</label>
                            <div class="col-sm-10">
                            <input type="date" name="due_date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">LEVEL</label>
                            <div class="col-sm-10">
                                <select class="custom-select" name="level">
                                    <option selected value="">중요도를 선택하세요.</option>
                                    <option value="abc">상</option>
                                    <option value="ab">중</option>
                                    <option value="a">하</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10 text-center">
                            <button type="submit" class="btn btn-outline-danger">완료</button>
                            <button type="reset" class="btn btn-outline-danger">취소</button>
                            </div>
                        </div>
                    </form> 
                </div>
                 
                </div>
            </div>
        
        </div>
    </div>
</main>
  

{% endblock %}